<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mighty Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
        <div class="color">
    <header>
        <div class="main_img">
            <a href="/">
            <img src="/image/pug.png" class="size_image" />
            </a>
            <h2>Mighty Tech Blog!</h2>
        </div>
        <nav>
            <a href="/" class="btn-no-style">Home</a>

            {{#if loggedIn}}
                <a href="/dashboard" class="btn-no-style">New Post / Edit Post</a>
                <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
                <a class="btn-no-style" href="/login">Login</a>
            {{/if}}
        </nav>
        </header>
        </div>
        
<label>
<input type="checkbox">
<span class="menu"> <span class="hamburger"></span> </span>
<ul>
 <a href="/" class="btn-no-style">Home</a>

            {{#if loggedIn}}
                <a href="/dashboard" class="btn-no-style">New Post / Edit Post</a>
                <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
                <a class="btn-no-style" href="/login">Login</a>
            {{/if}}
</ul>
</label>

    
    <main>
        {{{ body }}}
    </main>
    <footer>
        <h3>© 2022 Mighty Tech Blog! By Katya Juliet</h3>
    </footer>
</div>

{{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>