<h2>Sign up! Post, Comment...Be Mighty! </h2>
<ol class="post-list">

    {{#each posts as |post|}}

        <li>

            {{> slice post loggedIn = ../loggedIn }}

        </li>
    {{/each}}
</ol>
